.reset{
    display:none;
    font-size: 12px;
    font-weight: bold;
    color: black;
    background-color: red;
    
    
}

body {
    display: flex;
    flex-direction: column;
    background-color: gray;
}

.Sections {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}



.score {
    display: flex;
    justify-content: center;
    align-items: center;
}

.winnerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

